version: '3.7'
services:
  keycloak-authorization-server:
    image: quay.io/keycloak/keycloak:${KEYCLOAK_VERSION:-latest}
    hostname: keycloak-server
    ports:
      - "8080:8080"
    environment:
      - "KEYCLOAK_USER=admin"
      - "KEYCLOAK_PASSWORD=admin"
#      - "JAVA_OPTS=-Djboss.http.port=8081"
      - "DB_VENDOR=POSTGRES"
      - "DB_ADDR=host.docker.internal"
      - "DB_DATABASE=keycloak"
      - "DB_USER=keycloak"
      - "DB_SCHEMA=keycloak"
      - "DB_PASSWORD=keycloak"

#generate token
#curl -X POST -d 'grant_type=password&username=app_user&password=app_user&client_id=elastic-query-web-client&client_secret=6b0ea87d-9ebc-42cf-b854-a5335715e4aa' http://192.168.100.12:8080/auth/realms/microservices_realm/protocol/openid-connect/token
#access_token: eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJ2Q1IxSWppNmFxSWZqRUVndHlURjBidE11YWRuY3VRLXpLeTU0QmZrR0JNIn0.eyJleHAiOjE2NzU3NDg5MjksImlhdCI6MTY3NTc0ODYyOSwianRpIjoiY2I5MjIxNjktYzA5Ni00ZWY2LTgwOGMtZTNiYWY1NjZhNDY5IiwiaXNzIjoiaHR0cDovLzE5Mi4xNjguMTAwLjEyOjgwODAvYXV0aC9yZWFsbXMvbWljcm9zZXJ2aWNlc19yZWFsbSIsImF1ZCI6WyJlbGFzdGljLXF1ZXJ5LXNlcnZpY2UiLCJhY2NvdW50Il0sInN1YiI6IjhlOGM1ZjIyLTNhMWEtNGUyMS05YjY3LTVkMTVkOGMzZTg4MSIsInR5cCI6IkJlYXJlciIsImF6cCI6ImVsYXN0aWMtcXVlcnktd2ViLWNsaWVudCIsInNlc3Npb25fc3RhdGUiOiI1MTM0N2JlMy01ZmNmLTQyNzYtODA5OC1iYjVkMGU4OWYyZjAiLCJhY3IiOiIxIiwiYWxsb3dlZC1vcmlnaW5zIjpbImh0dHA6Ly8xOTIuMTY4LjEwMC4yNTo4MTg0Il0sInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJhcHBfdXNlcl9yb2xlIiwib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiJdfSwicmVzb3VyY2VfYWNjZXNzIjp7ImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJtYW5hZ2UtYWNjb3VudC1saW5rcyIsInZpZXctcHJvZmlsZSJdfX0sInNjb3BlIjoiYXBwX3VzZXJfcm9sZSBlbWFpbCBwcm9maWxlIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJuYW1lIjoiU3RhbmRhcmQgVXNlciIsImdyb3VwcyI6WyJhcHBfdXNlcl9ncm91cCJdLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJhcHBfdXNlciIsImdpdmVuX25hbWUiOiJTdGFuZGFyZCIsImZhbWlseV9uYW1lIjoiVXNlciJ9.K48m4iQSsK1pw3XZ8lHqy2NmpLRHqcRla25-_N7dVRO-le4yCOCDSfJGDdFed4JA6j3a4twyojGBBHqxTSssQ1gqSQ3DXB2EULtniN0LcfDdfz30gzS41bGXOfx3_IoDvpBP8p6TlffiObKjwYkDXujr5QxRT8pNAnxPgV-sjmb3mZfUzckxFpuoIEHryE5rNacx2eZ86GA_rnistvhpG4ihqhhvmCSGA8JXOkaVhgen5_bAvUb91znejA89EXfuAPy5W7-8oNnfQyiEHT8QRT-EUERpFSJ2xZWPIqXNC8Gv2O-aMGtmmdo2CmclkFtMtlFpT3Ov0NGy_MFzGhMRZw

#test in my private network
#http://192.168.100.12:8080/auth/
#http://192.168.100.12:8080/auth/realms/microservices_realm/.well-known/openid-configuration
#
#{
#    "issuer": "http://192.168.100.12:8080/auth/realms/microservices_realm",
#    "authorization_endpoint": "http://192.168.100.12:8080/auth/realms/microservices_realm/protocol/openid-connect/auth",
#    "token_endpoint": "http://192.168.100.12:8080/auth/realms/microservices_realm/protocol/openid-connect/token",
#    "introspection_endpoint": "http://192.168.100.12:8080/auth/realms/microservices_realm/protocol/openid-connect/token/introspect",
#    "userinfo_endpoint": "http://192.168.100.12:8080/auth/realms/microservices_realm/protocol/openid-connect/userinfo",
#    "end_session_endpoint": "http://192.168.100.12:8080/auth/realms/microservices_realm/protocol/openid-connect/logout",
#    "jwks_uri": "http://192.168.100.12:8080/auth/realms/microservices_realm/protocol/openid-connect/certs",
#    "check_session_iframe": "http://192.168.100.12:8080/auth/realms/microservices_realm/protocol/openid-connect/login-status-iframe.html",
#    "grant_types_supported": [
#        "authorization_code",
#        "implicit",
#        "refresh_token",
#        "password",
#        "client_credentials"
#    ],
#    "response_types_supported": [
#        "code",
#        "none",
#        "id_token",
#        "token",
#        "id_token token",
#        "code id_token",
#        "code token",
#        "code id_token token"
#    ],
#    "subject_types_supported": [
#        "public",
#        "pairwise"
#    ],
#    "id_token_signing_alg_values_supported": [
#        "PS384",
#        "ES384",
#        "RS384",
#        "HS256",
#        "HS512",
#        "ES256",
#        "RS256",
#        "HS384",
#        "ES512",
#        "PS256",
#        "PS512",
#        "RS512"
#    ],
#    "id_token_encryption_alg_values_supported": [
#        "RSA-OAEP",
#        "RSA1_5"
#    ],
#    "id_token_encryption_enc_values_supported": [
#        "A256GCM",
#        "A192GCM",
#        "A128GCM",
#        "A128CBC-HS256",
#        "A192CBC-HS384",
#        "A256CBC-HS512"
#    ],
#    "userinfo_signing_alg_values_supported": [
#        "PS384",
#        "ES384",
#        "RS384",
#        "HS256",
#        "HS512",
#        "ES256",
#        "RS256",
#        "HS384",
#        "ES512",
#        "PS256",
#        "PS512",
#        "RS512",
#        "none"
#    ],
#    "request_object_signing_alg_values_supported": [
#        "PS384",
#        "ES384",
#        "RS384",
#        "HS256",
#        "HS512",
#        "ES256",
#        "RS256",
#        "HS384",
#        "ES512",
#        "PS256",
#        "PS512",
#        "RS512",
#        "none"
#    ],
#    "response_modes_supported": [
#        "query",
#        "fragment",
#        "form_post"
#    ],
#    "registration_endpoint": "http://192.168.100.12:8080/auth/realms/microservices_realm/clients-registrations/openid-connect",
#    "token_endpoint_auth_methods_supported": [
#        "private_key_jwt",
#        "client_secret_basic",
#        "client_secret_post",
#        "tls_client_auth",
#        "client_secret_jwt"
#    ],
#    "token_endpoint_auth_signing_alg_values_supported": [
#        "PS384",
#        "ES384",
#        "RS384",
#        "HS256",
#        "HS512",
#        "ES256",
#        "RS256",
#        "HS384",
#        "ES512",
#        "PS256",
#        "PS512",
#        "RS512"
#    ],
#    "claims_supported": [
#        "aud",
#        "sub",
#        "iss",
#        "auth_time",
#        "name",
#        "given_name",
#        "family_name",
#        "preferred_username",
#        "email",
#        "acr"
#    ],
#    "claim_types_supported": [
#        "normal"
#    ],
#    "claims_parameter_supported": false,
#    "scopes_supported": [
#        "openid",
#        "offline_access",
#        "profile",
#        "email",
#        "address",
#        "phone",
#        "roles",
#        "web-origins",
#        "microprofile-jwt",
#        "app_user_role",
#        "app_super_user_role",
#        "app_admin_role"
#    ],
#    "request_parameter_supported": true,
#    "request_uri_parameter_supported": true,
#    "code_challenge_methods_supported": [
#        "plain",
#        "S256"
#    ],
#    "tls_client_certificate_bound_access_tokens": true
#}